header {
  background: #8a2387;
  background: -webkit-linear-gradient(to right, #f27121, #e94057, #8a2387);
  background: linear-gradient(to right, #f27121, #e94057, #8a2387);
  color: white;
  padding: 1rem;
  text-align: center;
}

header h1 {
  font-weight: 500;
}

.do {
  text-decoration: underline;
  font-style: italic;
}

#tasks{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; /* wrapper */
    align-items: center;
    margin: 1rem;
}

footer {
  background: #8e2de2;
  background: -webkit-linear-gradient(to right, #4a00e0, #8e2de2);
  background: linear-gradient(to right, #4a00e0, #8e2de2);
  bottom: 0;
  left: 0;
  position: fixed;
  width: 100%;
  text-align: center;
  color: white;
  padding: 1rem;
}
